.form_style{
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 7px rgb(128, 128, 128);
}

.create_input{
    width: 90%;
    border: none;
    padding: 4px 10px 0px;
    margin-bottom: 20px;
    font-size: 1rem;
    resize: none;
}

.create_textarea{
    width: 90%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
    height: 80px;
}

.create_button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: -18px;
    background-color: rgb(141, 141, 22) ;
    color: white;
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
    padding: 20px;
    outline: none;
}
