/* .Note_div{
    height: 3.9rem;
    width: 10rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: xx-small;
    margin-right: 40px;
}

.Note_div h1{
    font-size: 1rem;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.Note_div p{
    font-size: 0.75rem;
    word-wrap: break-word;
    max-height: 1.75rem;
    overflow-y: auto;
}

.dlt_update_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

button{
    padding: 1px;
    margin-right: 3px;
    font-size: xx-small;
    color: rgb(141, 141, 22);
} */

.Note_div {
    width: 10rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: xx-small;
    margin-right: 40px;
    height: fit-content;
}

.Note_div h1 {
    font-size: 1rem;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.Note_div p {
    font-size: 0.75rem;
    word-wrap: break-word;
    overflow-y: auto;
}

.dlt_update_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

button {
    padding: 1px;
    margin-right: 3px;
    font-size: xx-small;
    color: rgb(141, 141, 22);
}
